.row-c-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col-c-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-size {
    width: 100%;
    height: 100%;
}
